<!DOCTYPE html>
<html lang="vi"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layouts/layout}">
<head>
 <title>Trang chủ</title>
</head>
<body>
<main layout:fragment="content" class="container">
 <div class="panel">
  <h1>
   Trang chủ Yain shop
  </h1>
  <p>
   Xin chào
   <strong
    th:text="${#authentication.principal.fullName}" style="color: #2563eb;">
    User
   </strong>
  </p>
  <p>Chào mừng bạn đã đăng nhập thành công vào hệ thống bảo mật bằng Spring Security!</p>
 </div>
</main>
</body>
</html>